.dropdown {
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(-48.8889px, 32.8889px, 0px);
    z-index: 1000;
    margin: 0;
    pointer-events: none;
    perspective: 2000px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    min-width: 200px;
    max-width: 400px;

    @media (max-width: 576px) {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: none !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.sr_only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.mc_backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1040;


}

.backdrop_dark {
    background: rgba(0, 0, 0, .8);
}

.dropdown_backdrop {
    z-index: 900;
    opacity: 1;
    pointer-events: auto;

    @media (min-width: 576px) {
        display: none;
    }
}

.content_container {
    @media (min-width: 576px) {
        width: auto;
        max-width: 400px;
        max-height: 75vh;
        border: 1px solid #272c33;
        border-radius: 0.4rem;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    z-index: 1000;
    background: #191c21;
    border: 1px solid #272c33;
    box-shadow: 0 0 16px 8px hsl(218deg 8% 61% / 10%);
    opacity: 0;
    transform-origin: 50% -50px;
    transform: rotateX(-15deg);
    transition: opacity .3s ease,
    transform .3s ease;

    opacity: 1;
    transform: rotateX(0deg);
    pointer-events: auto;
}

.dropdown_close {
    display: block;
    border-bottom: 1px solid #272c33;
    text-align: right;

    @media (min-width: 576px) {
        display: none !important;
    }
}

.button_close {
    background: none;
    color: #fff;
    cursor: pointer;
    padding: 1.2rem;
    padding: 12px 16px;
    font-size: 1.0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: .01em;
    text-transform: capitalize;
    border-radius: 0.8rem;
    transition: background .25s ease, box-shadow .25s ease;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.close_icon {
    opacity: .5;
    transition: opacity .25s ease;
    width: 18px;
    height: 18px;
}

.dropdown_content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    overflow: auto;
}

.dropdown_body {
    flex: 1 1;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px 0px;
}

.dropdown_item {
    display: block;
    color: #fff;
    text-align: left;
    flex-shrink: 0;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    transition: background .3s ease;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    &:hover {
        background: #272c33;
    }
}

.dropdown_text {
    font-weight: 600;
    line-height: 1.25;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    & a {
        display: block !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        word-break: break-word;
    }
}

.dropdown_text_menu {
    font-weight: 500;
    line-height: 1.25;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    & a {
        display: block !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        width: max-content;
    }
}

.dropdown_footer {
    border-top: 1px solid #272c33;
}

.button {
    @extend .button_close;
    cursor: pointer;
    background: #fff;
    color: #000;
    width: 100%;
    text-decoration: none;
    padding: 12px 24px;
    height: 43px;
    border-radius: 0.4rem;

    &:hover {
        background: #e9eaec;
    }
}

.button_menu {
    @extend .button_close;
    cursor: pointer;
    background: #e32652;
    color: #fff;
    width: 100%;
    text-decoration: none;
    padding: 12px 24px;
    height: 43px;
    border-radius: 0.4rem;
}

.form_element {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 1px #272c33;
    background: #191c21;
    border-radius: 0.4rem;
    width: 100%;
    cursor: text;
    transition: color .2s ease, box-shadow .2s ease;
}

.form_prepend {
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .3);
}

.element {
    font-family: Helvetica, Arial, sans-serif;
    background: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: 12px 16px;
    color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .625px;
    text-overflow: ellipsis;
    resize: none;
}


// DROPDOWN SEARCH
.mc-dropdown__header {
    // margin-top: var(--mc-scale--1);
    border-bottom: 1px solid #272c33;
    min-width: 370px;
}

.mc-p-1 {
    padding: 4px !important;
}

.mc-p-4 {
    padding: 16px !important;
}

.mc-w-100 {
    width: 100%;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.mc-opacity--hinted {
    opacity: .8 !important;
    margin: 0;
}

.mc-sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.mc-form-element {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 1px #272c33;
    background: #191c21;
    border-radius: 8px;
    width: 100%;
    cursor: text;
    transition: color .2s ease, box-shadow .2s ease;
}

.mc-opacity--muted {
    opacity: .6 !important;
}

.mc-clickable {
    cursor: pointer;
}

.mc-icon--sm {
    width: 16px;
    height: 16px;
}



.mc-form-append,
.mc-form-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .3);
}

.mc-form-prepend {
    padding-right: 0;
}

.mc-form-element__element {
    font-family: Helvetica, Arial, sans-serif;
    background: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: 12px 16px;
    color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .625px;
    text-overflow: ellipsis;
    resize: none;
}

.dropdown_search {
    @extend .dropdown;
    transform: translate3d(-138.8889px, 35.8889px, 0px);
}

.dropdown_text_search {
    @extend .dropdown_text;
    font-size: '16px';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px !important;

    & span {
        display: block !important;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        word-break: break-word;
    }
}

.mc-icon--2 {
    font-size: 16px;
}

.mc-icon {
    width: 16px;
    height: 16px;
}

.Results_wrapper {
    opacity: 0;
    animation: Results_fade__pKX1l .3s ease;
    animation-fill-mode: both;
}

.mc-dropdown__item {
    display: block;
    width: 100%;
    color: #fff;
    text-align: left;
    flex-shrink: 0;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    transition: background .3s ease;
}

.Instructor_wrapper {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.Instructor_image {
    flex: none;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50%;
    background-color: hsla(0, 0%, 100%, .1);
    object-fit: cover;
}

.mc-corners--rounded {
    border-radius: 4px;
    isolation: isolate;
}

.Instructor_textWrapper {
    flex-direction: column;
    justify-content: center;
}

.mc-pl-4 {
    padding-left: 16px !important;
}

.mc-text-h6 {
    font-weight: 600;
    line-height: 1.25;
    font-size: 16px;
}

.Instructor_headline {
    color: #949aa4;
}

.mc-text-small {
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 1.45;

    @media (min-width: 576px) {
        line-height: 1.50;
    }
}

.Results_wrapper {
    opacity: 1;
    animation: Results_fade__pKX1l .3s ease;
    animation-fill-mode: both;
}

.mc-text--center {
    text-align: center !important;
}

.mc-form-append {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .3);
    padding-left: 0;
}

.high_light {
    background-color: #fff;
    color: #000;
    font-style: italic !important;
}